body {
    background-image: url("images/cloud-background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

/* h2, h3 y p tienen float para que las imagenes puedan ponerse a su derecha */

h2 {
    font-weight: 800 !important;
    color: black;
    font-size: 25px !important;
    margin-left: 100px !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    white-space: pre-line;
}

h3 {
    font-weight: 800 !important;
    color: black;
    font-size: 25px !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    white-space: pre-line;
}


/* white-space:preline hace que el texto no ocupe la pantalla entera */

p {
    margin-top: 15px !important;
    font-size: 17px !important;
    color: black;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400 !important;
    white-space: pre-line;
}


.main-images {
    width: 300px !important;
    height: 600px !important;
    margin-left: 100px !important;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
    gap: 100px;
}

.main-container {
    width: 1445px !important;
    display: flex;
    height: 750px !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: space-around;
    height: 520px !important;
}

.uk-container {
    width: 900px;
    height: 150px;
}

.japan-container {
    width: 950px;
    height: 150px;
}

.uk-thumbnail {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.japan-thumbnail {
    border: 1px solid rgba(0, 0, 0, 0.5); height: 200px;width: 300px;
}